{% extends 'base.html.twig' %}

{% block title %}Nouvelle Liste{% endblock %}

{% block main_content %}
    <div class="container mt-5">
        <h1 class="mb-4 display-4 text-center">Créer une nouvelle Liste</h1>

        {{ include('liste/_form.html.twig') }}

        <div class="text-center mt-4">
            <a href="{{ path('liste_index') }}" class="btn btn-outline-secondary">
                <i class="bi bi-list-ul"></i> Retour à la liste des listes
            </a>
        </div>
    </div>
{% endblock %}
