{% extends 'base.html.twig' %}

{% block title %}Zones{% endblock %}

{% block main_content %}

    <h1>Liste des Zones</h1>

    <p class="my-4">
        <a class="btn btn-sm btn-primary" href="{{ path('zone_new') }}"
            title="Nouvelle Zone"><i class="bi bi-plus-lg me-1"></i>Nouvelle Zone</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th class="text-center" scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            {% for zone in zones %}
            <tr>
                <th scope="row">{{ zone.id }}</th>
                <td>{{ zone.nom }}</td>
                <td class="text-center">{{ zone.position }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    

{% endblock %}
